*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.w-35 {
  width: 35%;
}

.bg-special {
  background-color: #2c5842;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}
.soft-shadow {
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}
.fullscreen-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 90px);
}

.logo {
  width: 50px;
  height: 50px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.cards {
  gap: 1%;
}
.card {
  width: 49%;
}

@media (max-width: 426px) {
  .form-label {
    font-size: 12px;
    width: 25% !important;
  }
  .form-container {
    width: 75% !important;
  }
  .card h3 {
    font-size: 1.2em;
  }
  .card p {
    font-size: 13px;
  }
}
@media (max-width: 900px) {
  .cards {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}

.bg-special:focus {
  background-color: #2c5842;
}

/* Chrome, Safari, Edge autofill */
.bg-special:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #2c5842 inset; /* يغطي اللون الأصفر/الأبيض */
  -webkit-text-fill-color: #fff; /* لون النص */
  transition: background-color 5000s ease-in-out; /* لمنع الفلاش */
}

/* Firefox autofill */
.bg-special:-moz-autofill {
  box-shadow: 0 0 0px 1000px #2c5842 inset;
  -moz-text-fill-color: #fff;
}

textarea {
  min-height: 1.5em;
  max-height: 300px;
  line-height: 1.5em;
  resize: none;
  overflow-y: hidden;
}
